html, body {
    box-sizing: border-box;
    background-color: #D9D9D9;
    color: #333;
    font-family: 'Arial', sans-serif;
}
hr {
    border-top: 1px solid #737373;
    width: 30%;
    margin-bottom: 50px;
}
#title {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
#title > h1 {
    font-size: 4rem;
}
#title p {
    font-size: 25px;
    margin-top: -40px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
#img-div {
    height: 500px;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}
#image {
    height: auto;
    max-width: 100%;
    align-items: center;
    display: block;
}
#img-div > p {
    color: #737373;
    font-size: 12px;
}
.about {
    margin: 0 auto;
    width: 700px;
    padding-top: 30px;
}
.about > h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.about p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
.about p span {
    font-weight: 600;
    text-decoration: underline;
}
.about p a {
    text-decoration: none;
    color: #333;
}
.about p a:hover {
    color: #737373;
}
.about h3 {
    font-size: 30px;
    letter-spacing: 0.5px;
}
.about h3, blockquote {
    padding-top: 50px;
    margin: 5 auto;
    text-align: center;
    align-items: center;
}
.about blockquote {
    margin-top: -50px;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-style: italic;
}
#tribute-info {
    margin: 0 auto;
    width: 700px;
    padding-top: 30px;
}
#tribute-info h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}
#tribute-info ul li {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
#tribute-info ul li span {
    font-weight: 600;
}
#tribute-info p {
    margin-top: 40px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
#tribute-info p a {
    text-decoration: none;
    color: #333;
}
#tribute-info p a {
    color: #737373;
}

/*Mobile View Responsiveness*/
@media only screen and (max-width: 600px) {
    #img-div {
        height: 400px;
        max-width: 400px;
    }
    .about {
        width: 400px;
    }
    .about > h2 {
        font-size: 30px;
    }
    .about p {
        font-size: 17px;
        font-family: "Josefin Sans", sans-serif;
    }
    .about h3 {
        font-size: 25px;
    }
    .about blockquote {
        font-size: 25px;
    }
    #tribute-info {
        width: 400px;
    }
    #tribute-info h3 {
        font-size: 25px;
    }
    #tribute-info ul li {
        font-size: 17px;
    }
    #tribute-info p {
        font-size: 17px;
    }
}