html, body {
    box-sizing: border-box;
    background-color: #D9D9D9;
    color: #333;
    font-family: 'Arial', sans-serif;
}
#title {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
#title > h1 {
    font-size: 4rem;
}
#title p {
    font-size: 25px;
    margin-top: -40px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
#image {
    height: 500px;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;

}
#image img {
    height: 100%;
    max-width: 100%;
}
#image > p {
    margin-top: -1px;
    color: #737373;
    font-size: 12px;
}
.about {
    margin: 0 auto;
    width: 700px;
    padding-top: 30px;
}
.about > h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.about p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
.about p span {
    font-weight: 600;
    text-decoration: underline;
}
.about p a {
    text-decoration: none;
    color: #333;
}
.about p a:hover {
    color: #737373;
}
.about h3 {
    font-size: 30px;
    letter-spacing: 0.5px;
}
.about h3, blockquote {
    padding-top: 50px;
    margin: 5 auto;
    text-align: center;
    align-items: center;
}
.about blockquote {
    margin-top: -50px;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-style: italic;
}
#tribute-info {
    margin: 0 auto;
    width: 700px;
    padding-top: 30px;
}
#tribute-info h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}
#tribute-info ul li {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
#tribute-info ul li span {
    font-weight: 600;
}
#tribute-info p {
    margin-top: 40px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
#tribute-info p a {
    text-decoration: none;
    color: #333;
}
#tribute-info p a {
    color: #737373;
}